@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(stars.gif);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-image: url(stars.gif);
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 1px 1px 30px rgb(255, 255, 255, 0.175);
}

form h3 {
    color: #ffffff; 
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ffffff;
    border-radius: 10px;
    font-size: 16px;
}

form button {
    padding: 15px;
    color: #000;
    background:#aaaaaa;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
}
